node_modules
test-results
.DS_Store
__diff_output__
cypress/screenshots/**/*.png
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/example-results/

# Don't include snapshots, as it's quite big
api-interface-documentation.spec.ts-snapshots
regression/tests/*.spec.ts-snapshots